@charset "UTF-8";

* {
        padding: 0; margin: 0; border: 0;
}

body {
        height: 100vh;
        background: black url(imagens/wallpaper002.jpg) center center no-repeat fixed;
        background-size: cover;
}

main {
        background-color: white;
        max-width: 400px;
        text-align: justify;
        padding: 10px;
        border-radius: 10px;
        margin: auto;
        margin-top: 10px;
        border: 1px solid black;
}

main > h1 {
        text-align: center;
        padding-bottom: 10px;
}