@charset "UTF-8";

* {
        padding: 0; margin: 0; border: 0;
}

body {
        background-image: url(imagens/wallpaper003.jpg);
        background-repeat: no-repeat;
        height: 99vh;
        background-position: center center;
}